body{
  background-color: black;
  color:white;

}

.material-icons.red600 { color: #e53935; }
.material-icons.red900 { color: #b71c1c; }

.progress{
  height:40px;
}
img{
  width:20%;
}

.jumbotron{
  background-color:rgb(61, 16, 16)
}

a, i {
  font-size: 36px;
}
i:hover{
  cursor: pointer;

}
.row, button{
  margin:20px;
}
#timer{
font-size: 36px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.disabled {
  pointer-events:none;
  opacity: 0.4;
}

.awesome {
  -webkit-animation:colorchange 10s alternate;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}