body{
  background-color: black;
  color:white;
}
.progress{
  height:40px;
}
.jumbotron{
  background-color:rgb(61, 16, 16)
}

a, i {
  font-size: 40px;
}
i:hover{
  cursor: pointer;

}
.row, button{
  margin:20px;
}
#timer{
font-size: 36px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.disabled {
  pointer-events:none;
  opacity: 0.7;
}